body {
  overflow-x: hidden !important;
}
li a.active {
  color: #16c7ff !important;
}

/* ================================= navbar ======================================*/
nav.navbar a.navbar-brand {
  color: #16c7ff;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 30px;
}
nav.navbar form .sidebar-search input {
  border: 1px solid #b8bfce;
  outline: none;
  border-right: none;
  width: 500px;
}
nav.navbar form .sidebar-search button {
  border: 1px solid #b8bfce;
  outline: none;
  background: transparent;
  border-left: none;
  color: #31353d;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

nav.navbar ul li a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
}

nav.navbar ul li a:hover {
  color: #16c7ff;
  transition: all 0.4s;
}

/* carousel */
.carousel .carousel-inner .carousel-item img {
  height: 75vh !important;
  filter: brightness(65%);
}
/* =============================== index posts ============================ */
.card {
  position: relative !important;
  overflow: hidden !important;
}
.card .img-container img.img-card {
  width: 100%;
  height: 379px;
  filter: brightness(65%);
}

.desc-box {
  position: absolute;
  bottom: 20px;
  left: 5%;
}

p.author {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.desc-box h3 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}

.card .img-container a:hover > img.img-card {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}
/* ===================== sidebar ============================================*/
.cat-container {
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
  position: relative !important;
  overflow: hidden !important;
}

.caption {
  overflow: hidden !important;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(33% - 6px);
  margin-right: 4px;
  height: 225px;
}

.cat-container .caption a.category_link img {
  overflow: hidden !important;
  border: none;
  width: 100%;
  height: 225px;
  display: block;
  transition: transform 0.2s ease-in-out;
  filter: brightness(65%);
}

.cat-container a.category_link:hover > img {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
  z-index: 2;
}

.cat-container h5.cat-title {
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  bottom: 35px;
  left: 2%;
  text-decoration: none;
  color: #fff;
}

/*  ==================================Posts page ========================================*/
.d-posts .image-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.d-posts .image-container .text-container {
  position: relative;
  width: 60%;
  top: 22%;
  left: 12%;
  color: #fff;
}
.d-posts .image-container .text-container h1 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  padding-right: 120px;
}
.d-posts .image-container p.post-tag {
  position: relative;
  top: 22%;
  left: 12%;
  font-size: 1.1rem;
  text-decoration: underline;
  color: #f1f1f1;
  padding: 0;
  margin: 0;
}

.container .col-lg-8 .text-justify p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6 !important;
}

@media only screen and (max-width: 768px) {
  .d-posts {
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .d-posts .image-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
  }
  .cat-container .caption {
    margin-bottom: 8px;
    width: calc(50% - 6px);
    margin-right: 4px;
  }
}

/* Comments */
.comment-section {
  background: #f5f6f8;
}

/* Alertify Custom Styles */
.ajs-message,
.ajs-visible {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  /* easeOutBack */
}

.ajs-hidden {
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */
}

.ajs-hidden {
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px);
  opacity: 0;
  display: none;
}

.ajs-error {
  background: #fe1a00;
  background: rgba(254, 26, 0, 0.9);
  color: #fff;
}

.ajs-warning {
  background: #5cb811;
  background: rgba(92, 184, 17, 0.9);
  color: #222;
}

header {
  -webkit-transition: all 0.4s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.4s ease;
}

.sticky-top {
  animation: smoothScroll 0.5s forwards;
  z-index: 999;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

    

  /* carousel */
  .carousel-inner .carousel-caption {
    margin: 50px 0;
  }
  .carousel-inner .carousel-caption h3{
    font-size: 3.5rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    text-align: left;
  }

  .carousel-inner .carousel-caption h6{
    font-size: 1rem;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    line-height: 1.4;
    text-align: left;
  }

  .carousel ol.carousel-indicators{
    margin: 50px 0;
    text-align: left;
    float: left;
    left: 18% !important;
    right: inherit;
  }

  .carousel ol.carousel-indicators li {
    background: #fff;
    border-radius: 50%;
    float: left;
    width: 15px;
    height: 12px;
    margin: auto 2px;
    border: 0;
  }

  .carousel ol.carousel-indicators li.active {
    width: 25px;
    height: 25px;
    background: transparent;
    background-image: url("../images/icon/atomic-24.ico");
    background-repeat: no-repeat;

}

